/*

	Date: 21.07.2020
	Author: Jakub Štellner

*/

/* Import */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@media (max-width: 1200px) { }
@media (max-width: 991px) { }
@media (max-width: 776px) { }
@media (max-width: 567px) { }

/* GLOBAL */

body {
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5 {
	font-family: 'Dosis', sans-serif;
}
:root {
	--primary: #ed3d50;
	--primaryDark: #bc2232;
}

/* HEADER */
@media (min-width: 1300px) {
	.container {
	    max-width: 1200px;
	}
}
@media (min-width: 1400px) {
	.container {
	    max-width: 1300px;
	}
}
iframe { 
	max-width: 100%;
}
a, a:hover {
	color: var(--primary);
}
img {
	max-width: 100%;
}
.animated-icon1 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon1 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon1 span {
background: white;
}
.first-button {
	border: none;
	outline: none!important;
	background: none;
	display: none;
}


.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.header-bg {
	background: url(../images/header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header {
	padding: 1.5rem;
	border-bottom: 1px solid rgba(255,255,255,0.17);
}
.header-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#topMenu {
	display: flex;
	align-items: center;
	margin: auto;
}
#topMenu ul {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
}
#topMenu ul li {
	padding: 0.5rem .75rem;
}
#topMenu ul li a {
	color: white;
	font-weight: 500;
}
.certificate-btn {
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	border: 2px solid white;
	padding: 0.75rem 1.25rem;
	border-radius: 50px;
	display: flex;
	align-items: center;

}
.certificate-btn svg {
	margin-right: 1rem;
}
.certificate-btn:hover {
	color: var(--primary);
	background: white;
	text-decoration: none;
}
.certificate-btn:hover svg path {
	fill: var(--primary)
}
.lang {
	display: flex;
	align-items: center;
}
.lang a {
	color: white;
	width: 43px;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin: 0 .25rem;
}
.lang a.active, .lang a:hover {
	font-weight: bold;
	text-decoration: none;
	border: 2px solid white;
}
.lang {
	margin: 0 2rem
}
.header-logo {
	margin-right: 2rem;
}
#topMenu ul .certificate-btn-li {
	display: none;
}
.footer-bottom, .footer {
	background: var(--primaryDark);
	color: white;
	padding: 3rem 0;
}
.footer-bottom {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid rgba(255,255,255,0.17);
}
.footer_item {
	margin-bottom: 1rem;
	display: flex;	
}
.footer_item.logo::before {
	content: url(../icons/footer_logo.svg);
	margin-right: 2rem;
}
.contacts  {
	padding: 0;
	margin: 0;
	list-style: none;
}
.contacts a {
	color: white;
}
.contacts-mail, .contacts-phone {
	display: flex;
	align-items: flex-start;
	margin-bottom: 0.5rem;
}
.contacts-mail::before {
	content: url(../icons/mail.svg);
	margin-right: 1rem;
}
.contacts-phone::before {
	content: url(../icons/phone.svg);
	margin-right: 1rem;
}  
.more-btn {
	color: white;
	padding: 0.75rem 1.5rem;
	border-radius: 50px;
	border: 2px solid white;
	display: flex;
	max-width: fit-content;
	max-width: -moz-fit-content;
	font-weight: 500;
}
.homepage-banner-content {
	position: relative;
	min-height: 550px;
	color: white;
	display: flex;
	padding-top: 0rem;
	flex-wrap: wrap;
	transform: translateY(75px);
}
.homepage-banner-text {
	width: 100%;
	max-width: 40%;
	margin-top: 3rem;
}
.homepage-banner-image {
	width: 100%;
	max-width: 60%;
}
.homepage-banner h1 {
	font-size: 60px;
	white-space: nowrap;
	font-weight: 800;
	font-family: 'Manrope', sans-serif;
	z-index: 555;
	position: relative;
}
.homepage-banner p {
	font-size: 30px;
	max-width: 350px;
	margin: 2rem 0;
	font-family: 'Manrope', sans-serif;
}
.more-btn::before {
	content: url(../icons/arrow.svg);
	margin-right: 1rem;
}
.more-btn:hover::before {
	content: url(../icons/arrow-red.svg);
}
.more-btn:hover {
	text-decoration: none;
	background: white;
}
@media (max-width: 1200px) { 
	.lang {
		margin-right: 1rem;
	}
}
@media (max-width: 1200px) and (min-width: 991px) { 
	.certificate-btn svg {
		margin: 0;
	}
	.certificate-btn span {
		display: none;
	}
	.certificate-btn {
		width: 43px;
		height: 43px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
} 
@media (max-width: 991px) {
	.homepage-banner-image {
		display: none;
	}
	.homepage-banner-text {
		max-width: 100%;
		margin: 0;
	}
	.homepage-banner-content{
		min-height: unset;
		transform: none;
		padding: 2rem 0;
	}
	.homepage-banner-text h1 {
		white-space: normal;
		font-size: 42px;
	}
	.first-button {
		display: flex;
		order: 4;
		margin-left: 1rem;
	}
	.lang {
		margin: 0;
		margin-left: auto;
	}
	#topMenu {
		width: 100%;
		margin-top: 1rem;
		order: 5;
		display: none;
	}
	#topMenu.open {
		display: flex;
	}
	.header-logo {
		max-width: 140px;
	}
	#topMenu ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	#topMenu ul .certificate-btn-li {
		display: block;
	}
	.header-certificate {
		display: none;
	}
	
 }

 @media (max-width: 776px) { 
	 .header {
		 padding: 1.5rem 0;
	 }
 }